<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- <meta http-equiv="refresh" content="5" > -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
            <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
            
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="/static/css/main.css">
          
          <style>
          html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
          </style>
          <body class="w3-light-grey">
        <title> z-wave information</title>
    </head>
    <body>
        <H1> here are the values </H1>
         {{char}}
         {{string }}
        <h1>light is on</h1>
    </body>
    <!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    </header>
  
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-white w3-hover-shadow w3-border-red w3-bottombar w3-padding-16">
          <div class="w3-left"><img src="/static/images/temperature.svg"></div>
          <div class="w3-right">
            <h3>52</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Temperature</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-white w3-hover-shadow w3-border-blue w3-bottombar w3-padding-16">
          <div class="w3-left"><img src="/static/images/grass.svg"></div>
          <div class="w3-right">
            <h3>99</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Moisture</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-white w3-hover-shadow w3-border-teal w3-bottombar w3-padding-16">
          <div class="w3-left"><img src="/static/images/humidity.svg"></div>
          <div class="w3-right">
            <h3>23</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Humidity</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-white w3-hover-shadow w3-border-orange w3-bottombar w3-padding-16">
          <div class="w3-left"><img src="/static/images/ecology.svg"></div>
          <div class="w3-right">
            <h3>50</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Light Intensity</h4>
        </div>
      </div>
    </div>
  
  <div class="w3-panel w3-padding-large">
    <div class="w3-container w3-white w3-card w3-hover-shadow w3-half w3-section w3-round-large">
      <h3>
        Temperature
      </h3> 
      <div class="ct-chart ct-series-a ct-major-sixth"></div>
      </div>
  
      
      <div class="w3-container w3-white w3-card w3-hover-shadow w3-half w3-section w3-round-large">
        <h3>
          Humidity
        </h3> 
      <div class="ct-chart ct-series-a ct-major-sixth"></div>
      </div>
      
      <div class="w3-container w3-white w3-card w3-hover-shadow w3-half w3-section w3-round-large">
        <h3>
          Moisture
        </h3> 
      <div class="ct2-chart ct-series-b ct-major-sixth"></div>
      </div>
  
      <div class="w3-container w3-white w3-card w3-hover-shadow w3-half w3-section w3-round-large">
        <h3>
          Light Intensity
        </h3> 
      <div class="ct2-chart ct-series-b ct-major-sixth"></div>
      </div>
  
  </div>
    
  
    <div class="w3-panel w3-padding-16">
      <div class="w3-row-padding w3-white w3-border-green w3-margin-left w3-leftbar" style="margin:0 -16px">
        <div class="w3-third w3-padding-16">
          <h5>Field Description</h5>
          <img src="/static/images/trees.svg" style="width:100%" alt="">
        </div>
        <div class="w3-twothird">
          <h5>SunFlower Garden</h5>
          
          <p>
            Something is going to be in here
          </p>
  
        </div>
      </div>
    </div>
    <br>
    <div class="w3-container w3-dark-grey w3-padding-32">
      <div class="w3-row">
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-green">Contributers</h5>
          <p>Aman Singh</p>
          <p>Rica Ghosh</p>
          <p>Deepak Yadu</p>
          <p>Khyati banjare</p>
          <p>Arwind</p>
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-red">Guides</h5>
          <p>All faculties Of BIT Raipur</p>
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-orange">References</h5>
          <p>Google.com</p>
        </div>
      </div>
    </div>
  
  </div>
</html>